<div class="card">
    <div class="card-details card-logo"> <div class="fix-skewX"> %FRUIT_EMOJI% </div></div>
    <div class="card-details fix-single-skewX "> %FRUIT_NAME% </div>
    <div class="card-details card-logo left-right-border"> <div class="fix-single-skewX dark-text small-text"> %NO_OF_FRUIT% %FRUIT_EMOJI% per 📦</div> </div>
    <div class="card-details card-logo left-right-border"> <div class="fix-single-skewX dark-text small-text">$ %RATE_OF_FRUIT% </div></div>
    <div class="card-details details "> <a class="links" href="/product?id={%ID%}">Details</a></div>
</div>


<!--
<div class="card">
    <div class="card-details card-logo"> <div class="fix-skewX">🍏 </div></div>
    <div class="card-details fix-single-skewX "> Green Apple</div>
    <div class="card-details card-logo left-right-border"> <div class="fix-single-skewX dark-text small-text">12 🍏 per 📦</div> </div>
    <div class="card-details card-logo left-right-border"> <div class="fix-single-skewX dark-text small-text">$ 5.00</div></div>
    <div class="card-details details "> <a class="links" href="#">Details</a></div>
</div>

-->